<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        {{# if loggedin}}
        Welcome {{userName}}
        {{else}}
        to Fitness In Mind
        {{/if}}
    </title>
    {{!-- Bootstrap CSS --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {{!-- Style Sheet --}}
    <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row mt-2" style="width: 100% ;">
            <div class="col-sm-12">
                <nav class="nav navbar">
                    <li><a class="nav-item nav-link text-secondary active" href="/">
                            <font color="white">Home</font>
                        </a>
                    </li>
                    <li><a class="nav-item nav-link text-secondary" href="/signup">
                            <font color="white">Sign Up</font>
                        </a>
                    </li>
                    <li><a class="nav-item nav-link text-secondary" href="/dashboard">
                            <font color="white">Dashboard</font>
                        </a>
                    </li>
                    <h1 class="text-center"><strong>FITNESS IN MIND</strong></h1>
                    <li><a class="nav-item nav-link text-secondary" href="/exercise">
                            <font color="white">Exercise</font>
                        </a>
                    </li>
                    <li><a class="nav-item nav-link text-secondary" href="/login">
                            <font color="white">Log In</font>
                        </a>
                    </li>
                    <li><a class="nav-item nav-link text-secondary" href="/logout">
                            <font color="white">Log Out</font>
                        </a>
                    </li>
                </nav>
            </div>
        </div>

        <hr>
        <div class="row text-center" style="min-width:100%;">
            <div class="col-md-12">
                {{{body}}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 fixed-bottom text-center">
                <p class="text-white">Copyright &copy; Armi | Denise | Thomas</p>
            </div>
        </div>
    </div>
    {{!-- Bootstrap & jQuery --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    {{!-- Google api --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    {{!-- JS Scripts --}}
    <script src="/js/video.js"></script>
    <script src="/js/exercise.js"></script>

    {{!-- Google API
    <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
        </script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script> --}}

</body>

</html>