<div class="container">
  <div class="row mt-4">
    <div class="col-sm-12">
      <h1>Welcome,
        {{# if loggedin}}
        {{userName}}
        {{/if}} are you ready to <strong>Train</strong>?</h1>
    </div>
  </div>
</div>

<div class="jumbotron text-center">
  <div class="row justify-content-md-center">
    <div class="col-md-12 justify-content-center">
      <div class="exercise-container">

        {{!-- <h2 class="text-black">Exercises</h2> --}}

        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <h2>Exercises</h2>
              </th>
            </tr>
          </thead>
          <tbody>
            {{# if loggedin}}
            {{exercise}}
            {{/if}}
            <!-- Rendered Buttons will get Dumped Here  -->
            <div id="delete-exercise"></div>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <br>

  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-black justify-content-center text-center">Add an exercise!</h2>
        <br>
        <div class="row">
          <div class="col-md-12">
            <form class="create-update-form justify-content-center" id="exercise-form">
              <div class="form-group justify-content-center">
                <label for="ca" class="text-black text-center"></label>
                <textarea style="border-radius: 10px;" class="text-center" type="text" id="ca" name="exercise"
                  placeholder="Type an Exercise here!"></textarea>
                <button type="submit button" id="add" class="btn btn-lg btn-success mb-5">Create Exercise</button>
              </div>
            </form>
          </div>
          {{!-- <input class="col-sm-12 text-center" style="width: 50%;" type="text" id="searchText"
            placeholder="Search a workout here!">
          <button type="submit button" id="search" class="btn btn-lg btn-success mb-1" disabled>Search</button> --}}
          <div class="col-sm-12 text-center"> <h3>Hydrate and get ready, Workout video below!</h3></div>
          <br>
          <div class="col-sm-12 text-center" id="player"></div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    // Getting references to the name input and exercise container, as well as the table body
    var nameInput = $("#ca");
    var exerciseList = $("tbody");
    var exerciseContainer = $(".exercise-container");
    // Getting the initial list of exercises
    getExercises();
    // Function for creating a new list row for exercises
    function createExerciseRow(exerciseData) {
      var newTr = $("<tr>");
      newTr.data("exercise", exerciseData);
      newTr.append("<td>" + exerciseData.Exercise + "</td>");
      newTr.append("<td><a class='btn btn-primary' id='delete-exercise'>Delete Exercise</a></td>");
      return newTr;
    }
    // Function for retrieving exercises and getting them ready to be rendered to the page
    function getExercises() {
      $.get("/api/exercise", function (data) {
        var rowsToAdd = [];
        for (var i = 0; i < data.length; i++) {
          rowsToAdd.push(createExerciseRow(data[i]));
        }
        renderExerciseList(rowsToAdd);
        nameInput.val("");
      });
    }
    // A function for rendering the list of exercises to the page
    function renderExerciseList(rows) {
      exerciseList.children().not(":last").remove();
      exerciseContainer.children(".alert").remove();
      console.log(rows);
      exerciseList.prepend(rows);
    }
    $("#delete-exercise").on("click", function (event) {
      event.preventDefault();
      var listItemData = $(this).parent("td").parent("tr").data("exercise");
      var id = listItemData.id;
      //var id = $(this).data("id");
      // Send the DESTROY request.
      $.ajax("/api/exercise/" + id, {
        type: "DELETE"
      }).then(
        function () {
          console.log("deleted" + id);
          // Reload the page to get the updated list
          getExercises()
        }
      );
    });
    $("#add").on("click", function (event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();
      var newExercise = {
        Exercise: $("#ca[name=exercise]").val().trim()
      };
      // Send the POST request.
      $.ajax("/api/exercise", {
        type: "POST",
        data: newExercise
      }).then(
        function () {
          console.log("added " + newExercise + ".");
          // Reload the page to get the updated list
          getExercises()
        }
      );
    });
  </script>