<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Welcome,
                {{# if loggedin}}
                {{userName}}
                {{/if}} are you ready to <strong>Train</strong>?</h1>
        </div>
    </div>
</div>

 
  <div class="container-fluid bg-light">

      <div class="row justify-content-md-center">
        <div class="col-md-6 justify-content-center">

              <h2 class="text-primary">Exercises</h2>

              <ul>
                {{#each exercises}}
                    <li>
                        <p class="text-primary">
                            {{this.Exercise}}     			             
                            <button class="deletebutton btn btn-outline-primary" id="delete" data-id="{{id}}">Delete Exercise</button>                        
                        </p>
                    </li>

                {{/each}}
              </ul>
        </div>


        <div class="col-md-6 justify-content-center">
            <h2 class="text-primary">Exercise Videos</h2>

            <ul>
              {{#each exercises}}

                  <li>
                      <p class="text-primary">
                          {{this.Exercise}}
                      </p>
                  </li>

              {{/each}}
            </ul>
        </div>

      </div>

  </div>

  <br>


      <div class="row">
        <div class="col-md-2">
        </div>
          <div class="col-md-8  bg-primary">
              <h2 class="text-white justify-content-center text-center">Add an Exercise!</h2>

              <br>

              <div class="row">
                <div class="col-md-2">
                </div>  

                   <div class="col-md-8">
                      <form class="create-update-form justify-content-center">

                        <div class="form-group justify-content-center">
                          <label for="ca" class="text-white text-center">Exercise:</label>
                          <textarea type="text" id="ca" name="exercise"></textarea>
                          <button type="submit" id="add" class="btn-success">Create Exercise</button>
                        </div>
                    
                      </form>
                    </div>

                <div class="col-md-2">
                </div> 
              </div>
            </div>
        <div class="col-md-2">        
        </div>
      </div>
    
    <br>

</div>


