<div class="container-fluid">
    <div class="jumbotron pull-center">
        <form action="/signup" method="post">
            {{# if loggedin}}
            <h2>You're already signed in, {{userName}}!</h2>
            {{else}}
            <div class="h3">Please fill out the inputs below to signup!</div>
            <div>
                <label>Username:</label>
                <input style="min-width: 15%" type="text" name="username" />
            </div>
            {{!-- <div>
            <label>Email:</label>
            <input type="text" name="email" />
            </div> --}}
            <div class="ml-1">
                <label>Password:</label>
                <input style="min-width: 15%" type="password" name="password" />
            </div>
            <div>
                <input class="btn btn-primary ml-5" type="submit" value="Sign Up" style="min-width: 10%" />
            </div>
            {{/if}}
        </form>
    </div>
</div>